{% extends '::base.html.twig' %}

{% block body -%}
   <div class="row">
    
    <div class="col-sm-6">
    <h1>Equipe</h1>
       <table class="record_properties table table-striped table-bordered table-condensed">
        <tbody>
            <tr>
                <th>ID:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome:</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Descrição:</th>
                <td>{{ entity.descricao }}</td>
            </tr>
            <tr>
                <th>Obs:</th>
                <td>{{ entity.obs }}</td>
            </tr>
            <tr>
                <th>Criado em:</th>
                <td>{{ entity.dtCriacao|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>{% if entity.status %} Ativo {% else %} Inativo {% endif %}</td>
            </tr>
            <tr>
                <th>Lider:</th>
                <td>{{ entity.responsavel.nome | default("") }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
    <div class="row"> <p></p> </div>
    
    <div class="row">
        <div class="col-sm-2">
            <a href="{{ path('equipe') }}" class="btn btn-primary">
                Ir para a lista de equipes
            </a>
        </div>
          <div class="col-sm-1">
            <a href="{{ path('equipe_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                Editar 
            </a>    
        </div>
        <div class="clearfix col-sm-1">
            <a href="{{ path('equipe_desabilitar', { 'id': entity.id }) }}" class="btn btn-primary">
                Desabilitar
            </a>
        </div>
        <div class="clearfix">   
            <!-- {{ form(delete_form) }} -->
         </div>
    </div>

    
    <!-- Membros -->
<div class="row">   
<div class="col-md-3"> 
<h2>Membros</h2>
            
    <a href="{{ path('membro_equipe_new', { 'id': entity.id }) }}" class="btn btn-primary">
    Novo membro
</a>
<br/><br/>
</div>    
</div>
<div class="row">
   <div class="col-md-12">
    <table class="records_list table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cargo</th>

                <th>Email</th>

                <th>Status</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for membro in entity.membros %}
            <tr>
                <td><a href="{{ path('membro_show', { 'id': entity.id }) }}">{{ membro.nome }}</a></td>
                <td>{{ membro.cargo }}</td>

                <td>{{ membro.email }}</td>

                <td>{% if membro.status %} Ativo {% else %} Inativo {% endif %}</td>
                <td>{{ membro.id }}</td>
                <td>

                    <a href="{{ path('membro_show', { 'id': membro.id }) }}" class="btn btn-primary">Exibir</a>

                    <a href="{{ path('membro_edit', { 'id': membro.id }) }}" class="btn btn-primary">Editar</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
   
    <!-- Fim Membros -->
{% endblock %}
