{% extends '::base.html.twig' %}

{% block body -%}
   <div class="row">
   <div class="col-sm-6">
    <h1>Membro</h1>

       <table class="record_properties table table-striped table-bordered table-condensed">
        <tbody>
            <tr>
                <th>ID:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome:</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Cargo:</th>
                <td>{{ entity.cargo }}</td>
            </tr>
            <tr>
                <th>Função:</th>
                <td>{{ entity.funcao }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Carga Horária Diária:</th>
                <td>{{ entity.cargaHorariaDia }}</td>
            </tr>
            <tr>
                <th>Obs:</th>
                <td>{{ entity.obs }}</td>
            </tr>
            <tr>
                <th>Valor Hora:</th>
                <td>{{ entity.valorHora }}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>{% if entity.status %} Ativo {% else %} Inativo {% endif %}</td>
            </tr>
            
        </tbody>
    </table>
       </div>
    </div>
    <div class="row"> 
        <div class="col-md-2">   
        <a href="{{ path('membro') }}" class="btn btn-primary">
            Ir para a lista de membros
        </a>
        </div>
        <div class="col-sm-1">
        <a href="{{ path('membro_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Editar
        </a>
        </div>
        <div class="clearfix col-sm-1">
            <a href="{{ path('membro_desabilitar', { 'id': entity.id }) }}" class="btn btn-primary">
                Desabilitar
            </a>
        </div>
        <!-- {{ form(delete_form) }} -->
        
    </div>
{% endblock %}
