{% extends '::base.html.twig' %}

{% block body -%}
<h1>Contatos</h1>

    <p>
        <a href="{{ path('contato_new') }}" class="btn btn-primary">
            Novo Contato
        </a>
    </p>

<table class="records_list table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Função</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('contato_show', { 'id': entity.id }) }}">{{ entity.nome }}</a></td>
                <td>{{ entity.cargo }}</td>
                <td>{{ entity.funcao }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.telefone }}</td>
                <td>{{ entity.celular }}</td>
                <td>{% if entity.status %} Ativo {% else %} Inativo {%endif%} </td>                
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contato_show', { 'id': entity.id }) }}" class="btn btn-primary">Exibir</a>
                    </li>
                    <li>
                        <a href="{{ path('contato_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
            
        
    {% endblock %}
