{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Despesa list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Dtdispesa</th>
                <th>Reembolsavel</th>
                <th>Faturado</th>
                <th>Aprovado</th>
                <th>Creditado</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('despesa_show', { 'id': entity.id }) }}">{{ entity.nome }}</a></td>
                <td>{{ entity.tipo }}</td>
                <td>{% if entity.dtDispesa %}{{ entity.dtDispesa|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.reembolsavel }}</td>
                <td>{{ entity.faturado }}</td>
                <td>{{ entity.aprovado }}</td>
                <td>{{ entity.creditado }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('despesa_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('despesa_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('despesa_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
